.jumbotron p {
  color: gray;
  /*max-width: 80%;*/
  font-size: 12px;
  margin: 1.0em auto 1.0em;
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

.jumbotron h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.footer p {
  font-size: 11px;
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  color: gray;
}

.homepage {
  font-family: 'Megrim', cursive;
  /*font-family: 'Poiret One', cursive;*/
}

.signature-icon-color {
  color: gray;
}

.signature-icon-color:hover {
  color: yellow;
}

li > a, .signature-icon {
 transition: color 0.8s ease;
}

.icon-color {
  color: gray;
}

.icon-color:hover {
  color: red;
}

li > a, .icon {
 transition: color 0.8s ease;
}

.icons-group{
    padding: 20px 0em 0px 1em;
    margin-top: 20px;
}

/* Blur + Gray Scale */
/*https://codepen.io/nxworld/pen/ZYNOBZ*/
.img-hover img:hover {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
}
.img-hover img {
	-webkit-filter: grayscale(100%) blur(1.5px);
  filter: grayscale(100%) blur(1.5px);
  -webkit-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}

.img-hover .col-xs-6:nth-child(even) {
    padding-left: 0px;
}

.img-hover .col-xs-6:nth-child(odd) {
    padding-right: 0px;
}

.col-lg-2 {
  padding-right: 0px;
}

.col-lg-10 {
  padding-left: 0px;
}

/*sticky footer*/
/*http://stackoverflow.com/questions/18739937/how-to-keep-footer-at-bottom-of-screen*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.main-image {
  width: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 5px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -5px; /* negative value of footer height */
  height: 5px;
  clear: both;
}

/* Opera Fix thanks to Maleika (Kohoutec) */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}

/*media queries*/
@media only screen and (max-width: 1199px) {
  .jumbotron h1 {
    padding-top: 0px;
    text-align: center;
  }
  .jumbotron p {
    text-align: justify;
  }
  .col-lg-2 {
    padding-right: 15px;
  }
  .col-lg-10 {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .jumbotron h1 {
    font-size:40px;
  }
}
/* For tablets and phones: */
@media only screen and (max-width: 768px) {
    .icons-group .col-xs-4 {
        padding: 1px 0.5em 1px 0.5em;
    }
    /*remove the fade*/
    .img-hover img {
    	-webkit-filter: grayscale(0) blur(0);
    	filter: grayscale(0) blur(0);
    }
    .img-hover img:hover {
      -webkit-filter: grayscale(0) blur(0);
    	filter: grayscale(0) blur(0);
    }

    /*remove color transition for icons*/
    .icon-color:hover {
      color: gray;
    }
    li > a, .icon {
     transition: none !important;
    }

    .signature-icon-color:hover {
      color: gray;
    }
    li > a, .signature-icon {
     transition: none !important;
    }
}

@media only screen and (max-width: 491px) {
  .homepage small {
    display: block;
  }

  @media only screen and (max-width: 387px) {
    .jumbotron h1 {
      font-size: 25px;
    }
}
