<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
          <div class="img-hover">
            <img src="images/Michelle-32.jpeg">
          </div>
      </div>
      <div class="col-sm-5">
        <p>An east coast native, Michelle Ortega
          is a Los Angeles-based artist and
          writer. The projects she relentlessly
          pursues celebrate the human spirit
          and a deep desire to uncover what
          it means to lead a life well-lived.</p>
        <br>
        <p>Currently, Michelle is the Community
          Lead and Thought Partner at Maitri
          Yoga Store, a lifestyle boutique
          in Culver City, CA.</p>
        <br>
        <p>Prior to her current ventures, Michelle
          was an Advertising Executive in
          New York City.</p>
        <br>

        <div class="row text-center icons-group">
          <div class="col-xs-3">
            <p>
              <a href="https://www.facebook.com/michortega" target="_blank"><i class="fa fa-facebook-official fa-lg icon-color icon"></i></a>
            </p>
          </div>
          <div class="col-xs-3">
            <p>
              <a href="https://medium.com/@michelleortega" target="_blank"><i class="fa fa-medium fa-lg icon-color icon"></i></a>
            </p>
          </div>
          <div class="col-xs-3">
            <p>
              <a href="https://www.instagram.com/michwoman/" target="_blank"><i class="fa fa-instagram fa-lg icon-color icon"></i></a>
            </p>
          </div>
          <div class="col-xs-3">
            <p>
              <a href="https://www.linkedin.com/in/michortega" target="_blank"><i class="fa fa-linkedin-square fa-lg icon-color icon"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
