<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="row">
          <div class="img-hover">
            <img class="col-xs-6" src="images/Michelle-32.jpeg">
            <img class="col-xs-6" src="images/Michelle-26.jpeg">
            <img class="col-xs-6" src="images/Michelle-9.jpeg">
            <img class="col-xs-6" src="images/Michelle-35.jpeg">
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <h1 class="homepage">BODY + SOUL</h1>
        <p class="main-text">
          An East coast native, Michelle Ortega is a Collaboration Catalyst based in Los Angeles. The projects she relentlessly pursues cultivate meaningful connections rooted in purpose and passion.
          <br><br>
          At her core, Michelle has a deep desire to recognize and expand relationships, share stories that are significant to the human spirit, and build conscious communities with a social impact.
          <br><br>
          Michelle brings a unique brand of love to her work shaped by her experience in the Advertising and Health & Wellness industries. She is inspired by the works of Frida Kahlo, Maya Angelou, and Amy Poehler.
        </p>
          <div class="row icons-group text-center">
            <div class="col-xs-4">
              <a href="mailto:michelle.ortegaa@gmail.com?Subject=Hello%20from%20michelleortega.is!" target="_top"><i class="fa fa-envelope-o fa-lg icon-color icon"></i></a>
            </div>
            <div class="col-xs-4">
              <a href="https://www.linkedin.com/in/michortega" target="_blank"><i class="fa fa-linkedin fa-lg icon-color icon"></i></a>
            </div>
            <div class="col-xs-4">
              <a href="https://www.instagram.com/michwoman/" target="_blank"><i class="fa fa-instagram fa-lg icon-color icon"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
