<!-- <nav class="navbar navbar-default navbar-static-top navbar-inverse"> -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <h1 class="homepage">BODY + SOUL <small>live beyond yourself</small></h1>
    <ul class="nav navbar-nav homenav">
      {{#link-to "about" tagName="li"}}
        <a href=""><span class="glyphicon glyphicon-home"></span> About</a>
      {{/link-to}}
      {{#link-to "musings" tagName="li"}}
        <a href=""><span class="glyphicon glyphicon-pencil"></span> Musings</a>
      {{/link-to}}
      <li>
        <a href="mailto:michelle.ortegaa@gmail.com?Subject=Hello%20from%20michelleortega.is!" target="_top"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
      </li>
      <!-- <li>
        <a href="/"><span class="glyphicon glyphicon-book"></span> Blog</a>
      </li>-->
    </ul>
  </div>
</nav>

<div id="wrap">
  <div id="main">
{{outlet}}
  </div>
</div>

<div id="footer" class="footer text-center">
  <p>made with ♥ by <a target="_blank" href="https://github.com/dddotcom" class="icon-color">dddotcom</a></p>
</div>
