<div id="wrap">
  <div id="main">
{{outlet}}
  </div>
</div>

<div id="footer" class="footer text-center">
  <p>made with ♥ by <a target="_blank" href="https://github.com/dddotcom" class="icon-color">dddotcom</a></p>
</div>
