<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <h4>Big Sur, beauty</h4>
    <p>
    The waves crash and the rolling tide
    brings me back
    to you
    </p>
    <p>
    Clear, starry night
    Lights and lines touch the sky
    I am yours
    Searching for our shooting star
    </p>

    <h4>She</h4>
    <p>
    Soul-centered source of internal light and power.
    An extraordinary being, she speaks with bold enthusiasm and truth.
    She is magic–made of sacred devotion, compassion and joy.
    She is love–united with mind, body and spirit.
    She remains open to the expanding universe.
    She is becoming.
    </p>

    <h4>No one else</h4>
    <p>
    It is me who needs myself the most and me who I can turn to count on and look for deep and inner healing.
    </p>

    <h4>Chance vs. choice</h4>
    <p>
    There's so many distractions in our every day lives - so many paths one could go down. How do you choose? You have to commit, I suppose. Just pick.
    </p>
    <p>
    But how do you know if it's the right thing to do? Well, you don't. And therein lies the problem - the paradox of choice. The decision to stay. Or to go.
    </p>
    <p>
    The decision to reach out, or stay silent.
    </p>
      </div>
    </div>
  </div>
</div>
